.root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    margin: 0;
}

#background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.left-section {
    position: relative;
    height: 100vh;
}

.right-section {
    height: 100vh;
}

.logo-container {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7);
    height: 150px;
}

.odin-logo {
    width: 50px; 
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    color: white;
}

.credits {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    color: white; 
    font-size: 1em; 
    font-weight: normal; 
    text-align: left;

}

.credits a {
    color: white; 
    text-decoration: underline; 
}

.heading {
    margin-top: 50px; 
    text-align: left; 
    font-size: 24px; 
    color: black; 
    line-height: 1.6; 
    padding: 20px; 
}